@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h1>Filter Details</h1>
@ViewBag.pickDate = pickDate;
@ViewBag.offDate = offDate;
@ViewBag.pickTime = pickTime;
@ViewBag.offTime = offTime;
@ViewBag.locationID = locationID;

