<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Active Cars</span>
                    <h5 class="card-title mb-0 text-white">Total Car Count</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            # @ViewBag.carCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">
                            @ViewBag.carCountNumber %<i class="mdi mdi-arrow-up"></i>
                        </span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.carCountNumber%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Existing Locations</span>
                    <h5 class="card-title mb-0 text-white">Locations Number</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            # @ViewBag.locationCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.locationCountNumber % <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.locationCountNumber%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Brand Count</span>
                    <h5 class="card-title mb-0 text-white">Total Brand</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            # @ViewBag.brandCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.brandCountNumber% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.brandCountNumber%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Average Rent Price</span>
                    <h5 class="card-title mb-0 text-white">Daily</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.averageDailyPrice ₺
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.averageDailyPriceNumber% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.averageDailyPriceNumber%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>